In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from tabulate import tabulate

In [2]:
pip install tabulate

Requirement already satisfied: tabulate in d:\anaconda\lib\site-packages (0.8.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
data=pd.read_csv("C:/Users/Dell/OneDrive/Desktop/black friday/train.csv")

In [4]:
data.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [5]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [7]:
data.shape

(550068, 12)

In [8]:
data.Product_Category_2.value_counts()

8.0     64088
14.0    55108
2.0     49217
16.0    43255
15.0    37855
5.0     26235
4.0     25677
6.0     16466
11.0    14134
17.0    13320
13.0    10531
9.0      5693
12.0     5528
10.0     3043
3.0      2884
18.0     2770
7.0       626
Name: Product_Category_2, dtype: int64

In [9]:
data.Product_Category_3.value_counts()

16.0    32636
15.0    28013
14.0    18428
17.0    16702
5.0     16658
8.0     12562
9.0     11579
12.0     9246
13.0     5459
6.0      4890
18.0     4629
4.0      1875
11.0     1805
10.0     1726
3.0       613
Name: Product_Category_3, dtype: int64

In [10]:
data.Product_Category_2.fillna('Others',inplace=True)

In [11]:
data.Product_Category_2.isnull().sum()

0

In [12]:
data.isnull().mean()

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.000000
Product_Category_3            0.696727
Purchase                      0.000000
dtype: float64

since the null percentage is almost 70% we can drop the columns

In [13]:
data.drop(['Product_Category_3','User_ID','Product_ID'],axis=1,inplace=True)

In [14]:
data['Product_Category_1']=data["Product_Category_1"].astype(str)

In [15]:
data["Occupation"]=data["Occupation"].astype(str)

In [16]:
data.columns

Index(['Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Purchase'],
      dtype='object')

In [17]:
data=pd.get_dummies(data)

In [18]:
data.columns

Index(['Marital_Status', 'Purchase', 'Gender_F', 'Gender_M', 'Age_0-17',
       'Age_18-25', 'Age_26-35', 'Age_36-45', 'Age_46-50', 'Age_51-55',
       'Age_55+', 'Occupation_0', 'Occupation_1', 'Occupation_10',
       'Occupation_11', 'Occupation_12', 'Occupation_13', 'Occupation_14',
       'Occupation_15', 'Occupation_16', 'Occupation_17', 'Occupation_18',
       'Occupation_19', 'Occupation_2', 'Occupation_20', 'Occupation_3',
       'Occupation_4', 'Occupation_5', 'Occupation_6', 'Occupation_7',
       'Occupation_8', 'Occupation_9', 'City_Category_A', 'City_Category_B',
       'City_Category_C', 'Stay_In_Current_City_Years_0',
       'Stay_In_Current_City_Years_1', 'Stay_In_Current_City_Years_2',
       'Stay_In_Current_City_Years_3', 'Stay_In_Current_City_Years_4+',
       'Product_Category_1_1', 'Product_Category_1_10',
       'Product_Category_1_11', 'Product_Category_1_12',
       'Product_Category_1_13', 'Product_Category_1_14',
       'Product_Category_1_15', 'Product_Category_1_16',
       'Product_Category_1_17', 'Product_Category_1_18',
       'Product_Category_1_19', 'Product_Category_1_2',
       'Product_Category_1_20', 'Product_Category_1_3', 'Product_Category_1_4',
       'Product_Category_1_5', 'Product_Category_1_6', 'Product_Category_1_7',
       'Product_Category_1_8', 'Product_Category_1_9',
       'Product_Category_2_2.0', 'Product_Category_2_3.0',
       'Product_Category_2_4.0', 'Product_Category_2_5.0',
       'Product_Category_2_6.0', 'Product_Category_2_7.0',
       'Product_Category_2_8.0', 'Product_Category_2_9.0',
       'Product_Category_2_10.0', 'Product_Category_2_11.0',
       'Product_Category_2_12.0', 'Product_Category_2_13.0',
       'Product_Category_2_14.0', 'Product_Category_2_15.0',
       'Product_Category_2_16.0', 'Product_Category_2_17.0',
       'Product_Category_2_18.0', 'Product_Category_2_Others'],
      dtype='object')

In [19]:
data.shape

(550068, 78)

In [20]:
scaler = MinMaxScaler()
scaler.fit(data)

MinMaxScaler()

In [21]:
scalerData = scaler.transform(data)
scalerData = pd.DataFrame(scalerData)

In [22]:
scalerData.describe()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
count,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,...,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000
mean,0.409653,0.386320,0.246895,0.753105,0.027455,0.181178,0.399200,0.199999,0.083082,0.069993,...,0.005532,0.025695,0.010050,0.019145,0.100184,0.068819,0.078636,0.024215,0.005036,0.315666
std,0.491770,0.209740,0.431205,0.431205,0.163405,0.385166,0.489734,0.400000,0.276007,0.255136,...,0.074172,0.158224,0.099743,0.137034,0.300245,0.253146,0.269170,0.153717,0.070784,0.464781
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.242641,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.335505,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.502818,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<h1>LINEAR REGRESSION

In [23]:
x=data.drop(["Purchase"],axis=1)

In [24]:
y=data["Purchase"]

In [28]:
model=LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

In [27]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=42)

In [29]:
mean_squared_error(test_y,model.predict(test_x),squared=False)

3020.898047552639

In [30]:
abc=model.score(test_x,test_y)

<h1> DECISION TREE

In [31]:
modeldtc = tree.DecisionTreeRegressor(random_state=42)
modeldtc.fit(train_x,train_y)

DecisionTreeRegressor(random_state=42)

In [32]:
mean_squared_error(test_y,modeldtc.predict(test_x),squared=False)

3152.7088455753583

In [33]:
de=modeldtc.score(test_x,test_y)

<h1> RANDOM FOREST REGERSSION

In [34]:
clf=RandomForestRegressor(max_depth=2,random_state=42)

In [35]:
clf.fit(train_x,train_y)

RandomForestRegressor(max_depth=2, random_state=42)

In [36]:
fgh=clf.score(test_x,test_y)

<h1>GRADIENT BOOSTING

In [37]:
model1=GradientBoostingRegressor(random_state=42)

In [38]:
model1.fit(train_x,train_y)

GradientBoostingRegressor(random_state=42)

In [39]:
ijk=model1.score(test_x,test_y)

<H1>ADA BOOSTING REGRESSOR

In [40]:
reg = AdaBoostRegressor(n_estimators=100, random_state=42)
reg.fit(train_x,train_y)

AdaBoostRegressor(n_estimators=100, random_state=42)

In [41]:
lmn=reg.score(test_x,test_y)

In [42]:
gr=[abc,de,fgh,ijk,lmn]
name=['Linear Regression','DECISION TREE','RANDOM FOREST REGRESSION','GRADIENT BOOSTING REGRESSION','ADA BOOSTING REGRESSION']

In [43]:
table = [['Linear Regression',abc],['DECISION TREE',de],['RANDOM FOREST REGRESSION',fgh],['GRADIENT BOOSTING REGRESSION',ijk],['ADA BOOSTING REGRESSION',lmn]]
print(tabulate(table))

----------------------------  --------
Linear Regression             0.6368
DECISION TREE                 0.604414
RANDOM FOREST REGRESSION      0.357938
GRADIENT BOOSTING REGRESSION  0.631001
ADA BOOSTING REGRESSION       0.43197
----------------------------  --------

In [44]:
print(name[gr.index(max(gr))]," IS THE FIT!!!!!!")

Linear Regression  IS THE FIT!!!!!!